@using WebSiteBanHang.Models;
@model DonDatHang
@{
    ViewBag.Title = "ChiTietDonHang";
    Layout = "~/Areas/admin/Views/Shared/LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    <h3 style="padding-top:20px;color:red"> Chi tiết đơn đặt hàng</h3>
    <div class="ChiTietDonHang table" style="padding-top:20px">
        @{ IEnumerable<ChiTietDonDatHang> lstChiTietDH = (IEnumerable<ChiTietDonDatHang>)ViewBag.ListChiTietDH;}
        <div class="row">
            <div class="col-md-6">
                <table id="table" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Thông tin đơn hàng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Mã đơn hàng:</th>
                            <td>@Model.MaDDH @Html.Hidden("MaDDH", Model.MaDDH)</td>
                        </tr>
                        <tr>
                            <th scope="row">Mã khách hàng:</th>
                            <td>@Model.KhachHang.MaKH</td>
                        </tr>
                        <tr>
                            <th scope="row">Tên khách hàng:</th>
                            <td>@Model.KhachHang.TenKH</td>
                        </tr>
                        <tr>
                            <th scope="row">Ngày đặt:</th>
                            <td>@Model.NgayDat.Value.ToString("dd/MM/yyy")</td>
                        </tr>
                        <tr>
                            <th scope="row">Ngày giao:</th>
                            <td>@Model.NgayGiao.Value.ToString("dd/MM/yyy")</td>
                        </tr>

                        <tr>
                            <th scope="row">Đã giao:</th>
                            <td>@Html.EditorFor(model => model.TinhTrangGiaoHang)</td>
                        </tr>
                        <tr>
                            <th scope="row">Đã thanh toán:</th>
                            <td>@Html.EditorFor(model => model.DaThanhToan)</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table id="table1" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Chi tiết đơn đặt hàng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        }
                        @foreach (var item in lstChiTietDH)
                        {
                            <tr>
                                <th scope="row">Sản phẩm</th>
                                <td>@item.SanPham.TenSP</td>
                            </tr>
                            <tr>
                                <th scope="row">Hình ảnh</th>
                                <td><img width="120" height="90" src="@Url.Content("~/Content/HinhAnhSP/" + @item.SanPham.HinhAnh)" /></td>
                            </tr>
                            <tr>
                                <th scope="row">Số lượng </th>
                                <td>@item.SoLuong</td>
                            </tr>
                            <tr>
                                <th scope="row">Đơn giá</th>
                                <td>@item.DonGia.Value.ToString("#,##") VNĐ</td>
                            </tr>
                            { i++; }

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-control"   style="color:red">
            <b>  Tổng giá trị đơn hàng : @Model.ChiTietDonDatHangs.Sum(n => n.DonGia * n.SoLuong).Value.ToString("#,##") VNĐ </b>
        </div>
       
    </div>
 }


